/* колір основного тексту #212121 */
/* додатковий колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* колір основного фону #F5F5F5 */
/* додатковий колір фону #F5F4FA */

:root {
  --primary-bg-color: #f5f5f5;
  --additional-bg-color: #f5f4fa;
  --heder-bg-color: #ffffff;
  --accent-color: #2196f3;
  --team-item-bg-color: #ffffff;
  --bg-hero-color: #c4c4c4;
  --bg-footer-color: #2f303a;
  --bg-portfolio-color: #ffffff;
  --primary-text-color: #757575;
  --title-hero-color: #ffffff;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --logo-footer-text-color: #ffffff;
  --address-footer-color: #ffffff;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --button-text-color: #ffffff;
  --button-active-color: #188ce8;
  --portfolio-button-text-color: #ffffff;
  --portfolio-item-bg-color: #ffffff;
  --border-header-color: #ececec;
  --border-portfolio-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.list {
  list-style: none;
}

/* Header */

.page-header {
  background-color: var(--heder-bg-color);
  border-bottom: 1px solid var(--border-header-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-site {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
}

.logo-color {
  color: var(--accent-color);
}

.logo-text {
  margin: 0;
  color: var(--logo-text-color);
}

/* Site-nav */

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);
}

.site-nav .link,
.contacts .contact {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contacts .contact {
  color: var(--primary-text-color);
}

.contacts .contact:hover,
.contacts .contact:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/Hero.jpg);
  background-color: var(--bg-hero-color);
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-hero-color);
}

/* Button */

.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-color);
}

/* Section */

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1667;
  text-align: center;
  color: var(--title-text-color);
}

/* Features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list .title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1429;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7143;
}

/* Work */

.work .list {
  display: flex;
  gap: 30px;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

/* Our team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--additional-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--team-item-bg-color);
}

.team-card {
  padding-top: 20px;
  padding-bottom: 30px;
}

.team-list .title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-text-color);
}

.team-list .text {
  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-color);
}

.logo-footer {
  display: flex;
  margin-bottom: 20px;
}

.logo-footer-color {
  color: var(--accent-color);
}

.logo-footer-text {
  color: var(--logo-footer-text-color);
}

.address-item {
  margin-bottom: 9px;
}

.address-footer,
.contact-footer {
  font-size: 14px;
  line-height: 1.7143;
  text-decoration: none;
  font-style: normal;
}

.address-footer {
  color: var(--address-footer-color);
}

.contact-footer {
  color: var(--contact-footer-color);
}

.address-footer:hover,
.address-footer:focus,
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* Портфоліо */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-portfolio-color);
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  gap: 8px;
}

.portfolio-nav .button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--additional-bg-color);
  color: var(--title-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  background-color: var(--accent-color);
  color: var(--portfolio-button-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  background-color: var(--portfolio-item-bg-color);
}

.portfolio-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-portfolio-color);
  border-bottom: 1px solid var(--border-portfolio-color);
  border-left: 1px solid var(--border-portfolio-color);
}

.portfolio-list .title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.portfolio-list .link {
  text-decoration: none;
}
